:root {
  --accent-color: #34547a;
  --text-color: #727272;
  --second-bg: #eeeff1;
}

/* reset */

h1,h2,h3{
  margin-top: 0;
  margin-bottom: 0;
}

ul, p{
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.63;
  color: var(--text-color);
}

/* header */
header {
  padding: 57px 0;
}

.container {
  max-width: 1110px;

  margin-left: auto;
  margin-right: auto;
}

header > .container{
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  line-height: 1.25;

  margin-right: 398px;

  color: var(--accent-color);
  font-family: "Revalia", cursive;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px ;
  
}

/* nav */

.nav-menu .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.1em;

  color: #000000;
}

.nav-menu > .list {
  display: flex;
  align-items: center;
}
.nav-menu  .item:not(:last-child) {
  margin-right: 42px;
}
.link.active {
  color: var(--accent-color);
}
/* main */

/* hero */

.hero {
  background-color: var(--second-bg);
}

.hero-content{
  margin-left: 131px;
}

.hero > .container{
  display: flex;

  padding-top: 162px;
  padding-bottom: 146px;

  align-items: center;
}

/* title */

.title {
  color: #000000;
}

.hero  .title {
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 48px;
  line-height: 1.65;
}

/* text */

.hero  .text{
  margin-bottom: 60px;

  max-width: 540px;
}

/* button */

.hero-content > .button {
  padding: 25px 41px;

  border: none;

  color: #ffffff;
  text-transform: uppercase;
  background-color: var(--accent-color);
}

/* about myself */

.about{
  padding-top: 119px;
  padding-bottom: 100px;
}

.text-container{
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.about  .title {
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;

  text-align: center;
}
.about  p {
  text-align: center;
}

/*  40 projects */
.fortypro {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.projects > .item{
  display: flex;
}
.projects > .item > p {
  margin-left: 20px;
}

.projects  .item:not(:last-child) {
  margin-right: 42px;
}

.projects .headline{
  font-weight: 500;
  font-size: 21px;
}

/* skills */

.skills-container {
  max-width: 1150px;

  display: flex;
}

.skills-content{
  margin-right: 150px;
}
.skills-content > .title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;

  margin-bottom: 50px;
}

/* how i work */
.mywork {
  padding-top: 201px ;

  background-color: var(--second-bg);
}

.mywork .title{
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
}

.mywork  p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}


/* pictures */

.pictures img{
  display: block;
}

.photo {
  display:flex;
  justify-content: center;
}


/* microsoft */

.microsoft img {
  display: block;
}

.microsoft .item:not(:last-child){
  margin-right: 30px;
}

.microsoft{
  padding: 100px 0;
}
/* order */
.order{
  padding-top: 200px;
  padding-bottom: 100px;

  background-color: var(--second-bg);
}

.order .title{
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;

  text-align: center;
}

.order  p {
  font-size: 16px;
  line-height: 26px;

  text-align: center;
}

.order  .button{
  padding: 20px 49px;

  border: none;

  color: #ffffff;
  text-transform: uppercase;
  background-color: var(--accent-color);
}

.button-container {
  display: flex;
  justify-content: center;
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .container-2{
  display: flex;
  justify-content: center;
}

.text-container-2 {
  margin-right: 757px;
}

.footer  .text {
  color: rgba(255, 255, 255, 1);
}

.footer h3 {
  margin-bottom: 20px;

  weidth: 500px;
  font-size: 21px;
  line-height: 1.2;
}

.footer p{
  font-size: 13px;
  line-height: 1.6;
}


